<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{profile.update.password.title}">Update Password</title>
    <th:block th:insert="~{fragments/fragment-assets :: common-assets}"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/user/profile/profile.css"/>
</head>
<body>
<div class="page-container">
    <header class="navbar-header">
        <div th:insert="~{fragments/fragment-navbar :: navbar}"></div>
    </header>
    <div class="content">
        <h1 class="mb-3"><span th:text="#{profile.update.password.header}">Update password</span></h1>
        <h5 class="mb-3"><span th:text="#{profile.update.password.note}">Fields marked with * can not be blank.</span></h5>
        <form th:action="@{/profile/update/password}" method="post">
            <div class="mb-3">
                <label class="form-label" for="password"><span th:text="#{profile.update.password.password}">*Password</span></label>
                    <div>
                        <input class="form-control" id="password" type="password" name="password"
                               placeholder="********">
                    </div>

            </div>
            <div class="mb-3">
                <label class="form-label" for="confirmation"><span th:text="#{profile.update.password.confirmation}">*Confirmation</span></label>
                    <div>
                        <input class="form-control" id="confirmation" type="password" name="passwordConfirm"
                               placeholder="********">
                    </div>

            </div>
            <button class="btn btn-primary btn-lg btn-custom d-grid col-8 mx-auto mb-4" type="submit">
                <span th:text="#{profile.update.password.button.update}">Update</span></button>
        </form>
        <div class="mb-3" th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error}"><span th:text="#{profile.update.password.error}">Error message</span></p>
        </div>
        <div>
            <a th:href="@{/profile}"><span th:text="#{profile.update.password.backtoprofile}">Back to profile</span></a>
        </div>
    </div>
</div>
</body>
</html>