<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Profile</title>
    <th:block th:insert="~{fragments/fragment-assets :: common-assets}"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/user/profile/profile.css"/>
</head>
<body>
<div class="page-container">
    <header class="navbar-header">
        <div th:insert="~{fragments/fragment-navbar-profile :: navbar}"></div>
    </header>
    <div class="content">
        <h1 class="mb-3">Update password</h1>
        <h5 class="mb-3">Fields marked with * can not be blank.</h5>
        <form th:action="@{/profile/update/password}" method="post">
            <div class="mb-3">
                <label class="form-label" for="password">*Password
                    <div>
                        <input class="form-control" id="password" type="password" name="password"
                               placeholder="********">
                    </div>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirmation">*Confirmation
                    <div>
                        <input class="form-control" id="confirmation" type="password" name="passwordConfirm"
                               placeholder="********">
                    </div>
                </label>
            </div>
            <button class="btn btn-primary btn-lg btn-custom d-grid col-6 mx-auto mb-4" type="submit">Update</button>
        </form>
        <div class="mb-3" th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error}">Error message</p>
        </div>
        <div>
            <a th:href="@{/profile}">Back to profile</a>
        </div>
    </div>
</div>
</body>
</html>