<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:insert="~{fragments/fragment-assets :: common-assets}"></th:block>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
</head>
<body>
<div class="page-container">
    <header class="navbar-header">
        <div th:insert="~{fragments/fragment-navbar-login :: navbar-empty}"></div>
    </header>
    <div class="content">
        <h1 class="mb-3">Please, sign in</h1>
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label class="form-label" for="email">Email:
                    <div>
                        <input class="form-control-lg" id="email" type="email" name="email" placeholder="example@example.com" required/>
                    </div>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:
                    <div>
                        <input class="form-control-lg" id="password" type="password" name="password" placeholder="Password" required/>
                    </div>
                </label>
            </div>
            <div class="form-check mb-4 ps-0">
                <input class="form-check-label custom-checkbox"  type="checkbox" name="remember-me" id="rememberMeCheck"/>
                <label class="form-check-label" for="rememberMeCheck">Remember me</label>
            </div>
            <button class="btn btn-primary btn-lg btn-custom d-grid col-6 mx-auto mb-4" type="submit">Log in</button>
            <div th:if="${param.error}">
                Email or password is incorrect!
            </div>
        </form>
        <div class="mb-5">
            <span>Don't have account? <a th:href="@{/registration}">Register!</a></span><br>
        </div>
        <div class="mb-3">
            <a th:href="@{/}">Back to main page</a>
        </div>
    </div>

</div>
</body>
</html>